
.continuar-viendo {
  width: 236px !important;
  margin: 0 20px;
  height: 160px !important;
}
.nuevos-cursos {

  width: 526px !important;
  margin: 0 20px;
  height: 265px !important;
}
.los-mas-vistos {
  width: 343px !important;
  margin: 0 20px;
  height: 195px !important;
}
